<div class="mb-4">
  <%= f.label :email, class: "block text-gray-700 font-semibold mb-2" %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full p-2 border border-gray-300 rounded-md bg-white" %>
</div>

<div class="mb-4">
  <%= f.label :first_name, class: "block text-gray-700 font-semibold mb-2" %>
  <%= f.text_field :first_name, class: "w-full p-2 border border-gray-300 rounded-md bg-white" %>
</div>

<div class="mb-4">
  <%= f.label :last_name, class: "block text-gray-700 font-semibold mb-2" %>
  <%= f.text_field :last_name, class: "w-full p-2 border border-gray-300 rounded-md bg-white" %>
</div>

<div class="mb-4">
  <%= f.label :phone, class: "block text-gray-700 font-semibold mb-2" %>
  <%= f.text_field :phone, class: "w-full p-2 border border-gray-300 rounded-md bg-white" %>
</div>

<div class="mb-4">
  <%= f.label :location, class: "block text-gray-700 font-semibold mb-2" %>
  <%= f.text_field :location, class: "w-full p-2 border border-gray-300 rounded-md bg-white", placeholder: "i.e. City, State, Country" %>
</div>

<div class="mb-4">
  <%= f.label :linked_in_url, class: "block text-gray-700 font-semibold mb-2" %>
  <%= f.url_field :linked_in_url, class: "w-full p-2 border border-gray-300 rounded-md bg-white" %>
</div>

<div class="mb-4">
  <%= f.label :github_url, class: "block text-gray-700 font-semibold mb-2" %>
  <%= f.url_field :github_url, class: "w-full p-2 border border-gray-300 rounded-md bg-white" %>
</div>

<div class="mb-4">
  <%= f.label :portfolio, class: "block text-gray-700 font-semibold mb-2" %>
  <%= f.url_field :portfolio, class: "w-full p-2 border border-gray-300 rounded-md bg-white" %>
</div>
