<div class="max-w-md mx-auto my-4">
  <h2 class="text-3xl font-bold mb-6 text-center">Edit <%= @user.full_name %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= render "form", f: f %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="border border-gray-300 my-4 p-4 rounded-md bg-gray-100">
    <h3 class="text-2xl font-bold">Update password</h3>
    <i class="text-sm">(leave blank if you don't want to change it)</i>
    <div class="my-4">
      <%= f.label :password, class: "block text-gray-700 font-semibold mb-2" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "w-full p-2 border border-gray-300 rounded-md bg-white" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, class: "block text-gray-700 font-semibold mb-2" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full p-2 border border-gray-300 rounded-md bg-white" %>
    </div>
  </div>


  <div class="mb-4">
    <h3 class="text-2xl font-bold mb-2">We need your current password to confirm your changes</h3>
    <%= f.label :current_password, class: "block text-gray-700 font-semibold mb-2" %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "w-full p-2 border border-gray-300 rounded-md bg-white" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 my-4" %>
  </div>
<% end %>

<div class="flex justify-between items-center border border-gray-300 my-4 p-4 rounded-md bg-gray-100">
  <h3 class="text-2xl font-bold">Unhappy?</h3>
  <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2" %>
  <div data-controller="feedback">
    <button data-action="click->feedback#open" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2">Cancel my account</button>
    <%= render "shared/feedback_modal" %>
  </div>
</div>

<%= link_to "Back", :back, class: "text-blue-500 hover:text-blue-700" %>
</div>
