<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= resume.user_first_name %> <%= resume.user_last_name %> - Resume</title>
  </head>
  <body>
    <div class="max-w-4xl mx-auto bg-white">
      <h1>
        <p class="text-3xl font-bold"><%= user_full_name(resume) %></p>
      </h1>

      <% if resume.title.present? %>
        <p class="text-lg font-bold mb-1"><%= resume.title %></p>
      <% end %>

      <p class="text-gray-600 mb-6">
        <% if resume.user_email.present? %>
          <span class="text-blue-600"><%= resume.user_email %></span>
        <% end %>

        <% if resume.user_phone.present? %>
          <% if resume.user_email.present? %> · <% end %>
          <span class="text-blue-600"><%= styled_telephone_number(resume) %></span>
        <% end %>

        <% if resume.user_github_url.present? %>
          <% if resume.user_email.present? || resume.user_phone.present? %> · <% end %>
          <span class="text-blue-600"><%= "#{resume.user_github_url.split('//').last}" %></span>
        <% end %>

        <% if resume.user_linked_in_url.present? %>
          <% if resume.user_email.present? || resume.user_phone.present? || resume.user_github_url.present? %> · <% end %>
          <span class="text-blue-600"><%= "/in/#{resume.user_linked_in_url.split("/").last}" %></span>
        <% end %>
      </p>

      <%# Summary %>
      <% if resume.summary&.body&.present? %>
        <h2 class="text-xl font-semibold mt-6 mb-3 text-gray-700">Summary</h2>
        <div class="prose">
          <%= resume.summary.body.to_s.html_safe %>
        </div>
      <% end %>

      <%# Skills %>
      <% if resume.skills.any? %>
        <h2 class="text-xl font-semibold mt-6 mb-3 text-gray-700">Technical Skills</h2>
        <ul>
          <% resume.skills.each do |skill| %>
            <span class="text-xs inline-block"><%= skill.name %><%= skill == resume.skills.last ? "." : ", " %></span>
          <% end %>
        </ul>
      <% end %>

      <%# Experiences %>
      <% if resume.experiences.any? %>
        <h2 class="text-xl font-semibold mt-6 mb-3 text-gray-700">Experience</h2>
        <% resume.experiences.each do |exp| %>
          <div class="mb-4">
            <h3 class="font-bold"><%= exp.title %> @ <%= exp.company_name %></h3>
            <p class="text-sm text-gray-500 mb-2">
              <%= exp.location %> · <%= exp.start_date&.strftime("%b %Y") %> – <%= exp.end_date&.strftime("%b %Y") || "Present" %>
            </p>
            <% if exp.responsibilities.any? %>
              <ul class="list-disc list-outside ml-5">
                <% exp.responsibilities.each do |b| %>
                  <li class=""><%= b.content %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <%# Education %>
      <% if resume.educations.any? %>
        <h2 class="text-xl font-semibold mt-6 mb-3 text-gray-700">Education</h2>
        <% resume.educations.each do |edu| %>
          <div class="mb-4">
            <h3 class="font-bold"><%= edu.school %></h3>
            <p class="text-sm text-gray-500">
              <%= edu.field_of_study %> · <%= edu.start_date&.year %> – <%= edu.end_date&.year || "Present" %>
            </p>
          </div>
        <% end %>
      <% end %>

      <%# Projects %>
      <% if resume.projects.any? %>
        <h2 class="text-xl font-semibold mt-6 mb-3 text-gray-700">Projects</h2>
        <% resume.projects.each do |proj| %>
          <div class="mb-4">
            <h3 class="font-bold"><%= proj.title %></h3>
            <% if proj.url.present? %>
              <p class="text-sm text-gray-500">
                <a href="<%= proj.url %>" class="text-blue-500 underline" target="_blank"><%= proj.url %></a>
              </p>
            <% end %>
            <% if proj.description&.body&.present? %>
              <div class="prose">
                <%= proj.description.body.to_s.html_safe %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
