<div class="max-w-3xl mx-auto py-8 px-6 bg-white shadow-md rounded-lg">
  <h1 class="mb-4">
    <p class="text-3xl font-bold text-center">
      <%= user_full_name(@resume) %>
    </p>
    <p class="text-md text-center text-gray-500"><%= @resume.title %></p>
  </h1>
  <p class="text-center text-gray-600 mb-6">
    <%= link_to "Email", "mailto:#{@resume.user_email}", class: "text-blue-600 hover:underline" %> ·
    <%= link_to styled_telephone_number(@resume), "tel:#{@resume.user_phone}", class: "text-blue-600 hover:underline" %> ·
    <%= link_to "#{@resume.user_github_url.split("/").last}", @resume.user_github_url, target: "_blank", class: "text-blue-600 hover:underline" %> ·
    <%= link_to "/in/#{@resume.user_linked_in_url.split("/").last}", @resume.user_linked_in_url , target: "_blank", class: "text-blue-600 hover:underline" %>
  </p>

  <%# Summary %>
  <h2 class="text-xl font-semibold mt-6 mb-3 text-gray-700">Summary</h2>
  <div class="prose">
    <%= @resume.summary&.body&.to_s&.html_safe %>
  </div>

  <%# Skills %>
  <h2 class="text-xl font-semibold mt-6 mb-3 text-gray-700">Technical Skills</h2>
  <ul>
    <% @resume.skills.each do |skill| %>
      <span class="text-xs inline-block text-gray-600 m-0.5 px-4 py-1 bg-gray-200 rounded-xl hover:bg-gray-500 hover:text-white transition-colors duration-200"><%= skill.name %></span>
    <% end %>
  </ul>

  <%# Experiences %>
  <h2 class="text-xl font-semibold mt-6 mb-3 text-gray-700">Experience</h2>
  <% @resume.experiences.each do |exp| %>
    <div class="mb-4">
      <h3 class="font-bold"><%= exp.title %> @ <%= exp.company_name %></h3>
      <p class="text-sm text-gray-500 mb-2">
        <%= exp.location %> · <%= exp.start_date&.strftime("%b %Y") %> – <%= exp.end_date&.strftime("%b %Y") || "Present" %>
      </p>
      <ul class="list-disc list-outside ml-5">
        <% exp.responsibilities.each do |b| %>
          <li class=""><%= b.content %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# Education %>
  <h2 class="text-xl font-semibold mt-6 mb-3 text-gray-700">Education</h2>
  <% @resume.educations.each do |edu| %>
    <div class="mb-4">
      <h3 class="font-bold"><%= edu.school %></h3>
      <p class="text-sm text-gray-500">
        <%= edu.field_of_study %> · <%= edu.start_date&.year %> – <%= edu.end_date&.year || "Present" %>
      </p>
    </div>
  <% end %>

  <%# Projects %>

  <% if @resume.projects.none? %>
    <h2 class="text-xl font-semibold mt-6 mb-3 text-gray-700">Projects</h2>
    <% end %>
    <% @resume.projects.each do |proj| %>
    <div class="mb-4">
      <h2 class="text-xl font-semibold mt-6 mb-3 text-gray-700"><%= proj.title %></h2>
      <h2 class="font-bold">
        <% if proj.url.present? %>
          – <a href="<%= proj.url %>" class="text-blue-500 underline" target="_blank">View</a>
        <% end %>
      </h2>
      <div class="prose">
        <%= proj.description&.body&.to_s&.html_safe %>
      </div>
    </div>
  <% end %>
</div>

<div class="max-w-3xl mx-auto bg-white">
  <%= render "download_pdf_button" %>
  <%= link_to "Edit Resume", edit_resume_path, class: "text-blue-600 hover:underline" %>
</div>
