<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Resume App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= yield :head %>
    <% if Rails.env.production? %>
      <%= javascript_include_tag "https://www.googletagmanager.com/gtag/js?id=G-3XWMFLD7D6" %>
      <meta name="google-analytics" content="G-3XWMFLD7D6" />
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-3XWMFLD7D6', {
          page_title: document.title,
          page_location: window.location.href,
          debug_mode: true
        });

        // Make gtag available globally
        window.gtag = gtag;
      </script>
    <% end %>
  </head>

  <body>
    <%= render "layouts/shared/navigation" %>
    <%= render "layouts/shared/flash" %>

    <% if controller_name == 'static_pages' && action_name == 'home' %>
      <%= yield %>
    <% else %>
      <div class="container mx-auto p-4">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
